{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Post detail
{% endblock %}

{% block content %}
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Blog Detail</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Blog Detail</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            {% if post_detail %}
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    {% for image in post_detail.blogimages.all %}
                    <!-- <img class="img-fluid w-100 rounded mb-5" src="{{ image.image.url }}" alt=""> -->
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    {% endfor %}
                    <h1 class="text-uppercase mb-4">{{ post_detail.title }}</h1>
                    <p>{{ post_detail.write_up }}</p>
                </div>
                {% endif %}
                <!-- Blog Detail End -->

                <!-- Comment List Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">3 Comments</h3>
                    <div class="d-flex mb-4">
                        <img src="{% static 'img/user.jpg' %}" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <img src="{% static 'img/user.jpg' %}" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                    <div class="d-flex ms-5 mb-4">
                        <img src="{% static 'img/user.jpg' %}" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                </div>
                <!-- Comment List End -->

                <!-- Recent checks -->
                <div class="container-fluid py-6 px-5">
                    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                        <h1 class="display-5 text-uppercase mb-4">Recent <span class="text-primary">Checks</span></h1>
                    </div>
                    <div class="row g-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="bg-light">
                                <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" src="{% static 'img/user.jpg' %}" width="35" height="35" alt="">
                                            <span>John Doe</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</span>
                                        </div>
                                    </div>
                                    <h4 class="text-uppercase mb-3">Rebum diam clita lorem erat magna est erat</h4>
                                    <a class="text-uppercase fw-bold" href="">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="bg-light">
                                <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" src="{% static 'img/user.jpg' %}" width="35" height="35" alt="">
                                            <span>John Doe</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</span>
                                        </div>
                                    </div>
                                    <h4 class="text-uppercase mb-3">Rebum diam clita lorem erat magna est erat</h4>
                                    <a class="text-uppercase fw-bold" href="">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="bg-light">
                                <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" src="{% static 'img/user.jpg' %}" width="35" height="35" alt="">
                                            <span>John Doe</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</span>
                                        </div>
                                    </div>
                                    <h4 class="text-uppercase mb-3">Rebum diam clita lorem erat magna est erat</h4>
                                    <a class="text-uppercase fw-bold" href="">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent checks end -->
                <!-- Comment Form Start -->
                <div class="bg-light p-5">
                    <h3 class="text-uppercase mb-4">Leave a comment</h3>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Search Form End -->

                <!-- Comment Form Start -->
                <div class="bg-light p-5">
                    <h3 class="text-uppercase mb-4">Message Seller</h3>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
                <!-- Category Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Categories</h3>
                    <div class="d-flex flex-column justify-content-start bg-light p-4">
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Design</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Keyword Research</a>
                        <a class="h6 text-uppercase mb-0" href="#"><i class="fa fa-angle-right me-2"></i>Email Marketing</a>
                    </div>
                </div>
                <!-- Category End -->

                <!-- Recent Post Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Recent Post</h3>
                    <div class="bg-light p-4">
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex">
                            <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Recent Post End -->

                
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}