{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Post detail
{% endblock %}

{% block content %}
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Blog Detail</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="">Home</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Blog Detail</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="{% static 'img/blog-2.jpg' %}" alt="">
                    <h1 class="text-uppercase mb-4">Diam dolor duo ipsum clita sed lorem tempor. Clita kasd diam justo diam
                        lorem sed amet sed rebum eos.</h1>
                    <h5><i class="fas fa-bath col-3"> 3</i> <i class="fas fa-toilet col-3"> 3</i><i class="fas fa-bed col-3"> 5</i></h5>
                    <p>Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut
                        magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet
                        amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at
                        sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et
                        aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy, gubergren
                        sit stet no diam kasd vero.</p>
                    <p>Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores
                        vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit
                        nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore
                        ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
                        clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat
                        justo dolore sit invidunt.</p>
                    <p>Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua tempor
                        invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam
                        lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor
                        rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor
                        sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at
                        lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
                        sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.</p>
                </div>
                <!-- Blog Detail End -->

                <!-- Comment List Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">3 Comments</h3>
                    <div class="d-flex mb-4">
                        <img src="{% static 'img/user.jpg' %}" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <img src="{% static 'img/user.jpg' %}" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                    <div class="d-flex ms-5 mb-4">
                        <img src="{% static 'img/user.jpg' %}" class="img-fluid" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod</p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                </div>
                <!-- Comment List End -->

                <!-- Recent checks -->
                <div class="container-fluid py-6 px-5">
                    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                        <h1 class="display-5 text-uppercase mb-4">Recent <span class="text-primary">Checks</span></h1>
                    </div>
                    <div class="row g-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="bg-light">
                                <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" src="{% static 'img/user.jpg' %}" width="35" height="35" alt="">
                                            <span>John Doe</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</span>
                                        </div>
                                    </div>
                                    <h4 class="text-uppercase mb-3">Rebum diam clita lorem erat magna est erat</h4>
                                    <a class="text-uppercase fw-bold" href="{% url 'website:blog_detail' %}">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="bg-light">
                                <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" src="{% static 'img/user.jpg' %}" width="35" height="35" alt="">
                                            <span>John Doe</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</span>
                                        </div>
                                    </div>
                                    <h4 class="text-uppercase mb-3">Rebum diam clita lorem erat magna est erat</h4>
                                    <a class="text-uppercase fw-bold" href="{% url 'website:blog_detail' %}">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="bg-light">
                                <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" alt="">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-2" src="{% static 'img/user.jpg' %}" width="35" height="35" alt="">
                                            <span>John Doe</span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</span>
                                        </div>
                                    </div>
                                    <h4 class="text-uppercase mb-3">Rebum diam clita lorem erat magna est erat</h4>
                                    <a class="text-uppercase fw-bold" href="{% url 'website:blog_detail' %}">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recent checks end -->
                <!-- Comment Form Start -->
                <div class="bg-light p-5">
                    <h3 class="text-uppercase mb-4">Leave a comment</h3>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Search Form End -->

                <!-- Comment Form Start -->
                <div class="bg-light p-5">
                    <h3 class="text-uppercase mb-4">Message Seller</h3>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
                <!-- Category Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Categories</h3>
                    <div class="d-flex flex-column justify-content-start bg-light p-4">
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Design</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Web Development</a>
                        <a class="h6 text-uppercase mb-4" href="#"><i class="fa fa-angle-right me-2"></i>Keyword Research</a>
                        <a class="h6 text-uppercase mb-0" href="#"><i class="fa fa-angle-right me-2"></i>Email Marketing</a>
                    </div>
                </div>
                <!-- Category End -->

                <!-- Recent Post Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Recent Post</h3>
                    <div class="bg-light p-4">
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                        <div class="d-flex">
                            <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Lorem ipsum dolor sit amet consec adipis
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Recent Post End -->

                
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}