<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for a in view %}
        {{ a.date}}
        {{ a.authur }}
        {{ a.title }}
        {{ a.write_up }}
        {{ a.get_image_filename }}
        <br>
        {% for image in a.blogimages.all %}
       {{ image.image.url }} <img src="{{ image.image.url }}" alt="">
       {% endfor %}
        {% endfor %}
        
    </div>
</body>
</html>